<div class="content-summary-wrapper">
    <h5 class="content-summary__heading">LISTING SUMMARY</h5>
    <div class="content-summary__list">
        <div class="content-summary__list-group">
            <div class="content-summary__list-item">
                <p class="content-list-item__title">Reference</p>
                <h6 class="content-list-item__value">TRA01</h6>
            </div>
            <div class="content-summary__list-item">
                <p class="content-list-item__title">Type</p>
                <h6 class="content-list-item__value">Villa</h6>
            </div>
        </div>
        <div class="content-summary__list-group">
            <div class="content-summary__list-item">
                <p class="content-list-item__title">City</p>
                <h6 class="content-list-item__value">Dubai</h6>
            </div>
            <div class="content-summary__list-item">
                <p class="content-list-item__title">Community</p>
                <h6 class="content-list-item__value">Al Barari</h6>
            </div>
        </div>
    </div>
    <div class="content-summary__list">
        <div class="content-summary__list-group">
            <div class="content-summary__list-item">
                <p class="content-list-item__title">Subcommunity</p>
                <h6 class="content-list-item__value">Al Barari Vilas</h6>
            </div>
            <div class="content-summary__list-item">
                <p class="content-list-item__title">Property</p>
                <h6 class="content-list-item__value">N/A</h6>
            </div>
        </div>
        <div class="content-summary__list-group">
            <div class="content-summary__list-item">
                <p class="content-list-item__title">Sqft</p>
                <h6 class="content-list-item__value">50,000 sqft</h6>
            </div>
            <div class="content-summary__list-item">
                <p class="content-list-item__title">Bedrooms</p>
                <h6 class="content-list-item__value">7+</h6>
            </div>
        </div>
    </div>
    <div class="content-summary__list">
        <div class="content-summary__list-group">
            <div class="content-summary__list-item">
                <p class="content-list-item__title">Bathrooms</p>
                <h6 class="content-list-item__value">7+</h6>
            </div>
            <div class="content-summary__list-item">
                <p class="content-list-item__title">Price</p>
                <h6 class="content-list-item__value">AED 70,000,000</h6>
            </div>
        </div>
        <div class="content-summary__list-group">
            <div class="content-summary__list-item">
                <p class="content-list-item__title">Price/sqft</p>
                <h6 class="content-list-item__value">AED 1400/sqft</h6>
            </div>
            <div class="content-summary__list-item">
                <p class="content-list-item__title">Last Update</p>
                <h6 class="content-list-item__value">14/08/2016</h6>
            </div>
        </div>
    </div>
</div>