<div>
    <button class="navbar__icon" type="button"></button>
    <a class="navbar__logo" href="#">Logo</a>
    <div class="navbar__desktop-wrapper">
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a class="navbar-item__value" href="#">BUY</a>
            </li>
            <li class="navbar__item">
                <a class="navbar-item__value" href="#">RENT</a>
            </li>
            <li class="navbar__item">
                <a class="navbar-item__value" href="#">COMMERCIAL</a>
            </li>
            <li class="navbar__item">
                <a class="navbar-item__value" href="#">PRESTIGE</a>
            </li>
            <li class="navbar__item">
                <a class="navbar-item__value" href="#">BROKERS</a>
            </li>
            <li class="navbar__item">
                <a class="navbar-item__value" href="#">BLOG</a>
            </li>
        </ul>
    </div>
</div>