<div class="navigation__wrapper">
    <a class="navigation__logo" href="#">Logo</a>
    <ul class="navigation__menu">
        <li class="navigation__item active">
            <a class="navigation-item__value" href="#">BUY</a>
        </li>
        <li class="navigation__item">
            <a class="navigation-item__value" href="#">RENT</a>
        </li>
        <li class="navigation__item">
            <a class="navigation-item__value" href="#">COMMERCIAL</a>
        </li>
        <li class="navigation__item">
            <a class="navigation-item__value" href="#">PRESTIGE</a>
        </li>
        <li class="navigation__item">
            <a class="navigation-item__value" href="#">BROKERS</a>
        </li>
        <li class="navigation__item">
            <a class="navigation-item__value" href="#">BLOG</a>
        </li>
    </ul>
</div>