<div class="navigation__wrapper">
    <div class="navigation__icon" type="button">
        <i class="navigation__icon-menu fa fa-bars" aria-hidden="true"></i>
    </div>
    <a class="navigation__logo" href="#">
        <img alt="Property Finder Logo">
    </a>
    <ul class="navigation__menu">
        <li class="navigation__item active">
            <a class="navigation-item__value" href="#">BUY</a>
        </li>
        <li class="navigation__item">
            <a class="navigation-item__value" href="#">RENT</a>
        </li>
        <li class="navigation__item">
            <a class="navigation-item__value" href="#">COMMERCIAL</a>
        </li>
        <li class="navigation__item">
            <a class="navigation-item__value" href="#">PRESTIGE</a>
        </li>
        <li class="navigation__item">
            <a class="navigation-item__value" href="#">BROKERS</a>
        </li>
        <li class="navigation__item">
            <a class="navigation-item__value" href="#">BLOG</a>
        </li>
    </ul>

    <div class="navigation-mobile-wrapper">
        <div class="navigation-mobile__menu">
            <ul class="navigation-mobile__menu-left">
                <li class="navigation-mobile__item active">
                    <a class="navigation-mobile-item__value" href="#">BUY</a>
                </li>
                <li class="navigation-mobile__item">
                    <a class="navigation-mobile-item__value" href="#">RENT</a>
                </li>
                <li class="navigation-mobile__item">
                    <a class="navigation-mobile-item__value" href="#">COMMERCIAL</a>
                </li>
                <li class="navigation-mobile__item">
                    <a class="navigation-mobile-item__value" href="#">PRESTIGE</a>
                </li>
                <li class="navigation-mobile__item">
                    <a class="navigation-mobile-item__value" href="#">BROKERS</a>
                </li>
                <li class="navigation-mobile__item">
                    <a class="navigation-mobile-item__value" href="#">BLOG</a>
                </li>
            </ul>
            <div class="navigation-mobile__menu-right"></div>
        </div>
    </div>
</div>