<div class="property-finder-app">
    <nav class="navigation" id="navigation-main"></nav>
    <main class="container-main">
        <div class="container-main__wrapper">
            <section class="container-left">
                <div class="property-info-wrapper" id="property-info"></div>
                <div class="property-slide-wrapper" id="property-slide"></div>
                <div class="property-content-wrapper" id="property-content"></div>
            </section>
            <aside class="container-right">
                <div class="property-agency-wrapper" id="property-agency"></div>
                <div class="property-contact-wrapper" id="property-contact"></div>
                <div class="property-ad-wrapper" id="property-ad"></div>
                <div class="property-share-wrapper" id="property-share"></div>
                <div class="property-market-wrapper" id="property-market"></div>
            </aside>
        </div>
    </main>
    <div class="container-bottom">
        <div class="property-similar-wrapper" id="property-similar"></div>
        <div class="property-info-wrapper-bottom" id="property-info-2"></div>
    </div>
</div>