<div class="property-info">
    <ol class="property-info__details">
        <li class="property-info-detail__item">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>Apartment</span>
        </li>
        <li class="property-info-detail__item">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>3 beds</span>
        </li>
        <li class="property-info-detail__item">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>2 baths</span>
        </li>
        <li class="property-info-detail__item">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>1.350 sqft</span>
        </li>
    </ol>
    <div class="property-info__price">
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        <span class="property-price__amount">250,000</span>
        <span class="property-price__currency">AED/year</span>
    </div>
</div>