<div class="property-share">
    <div class="property-share__item">
        <i class="fa fa-star" aria-hidden="true"></i>
        <span class="property-share__text">
            FAVOURITE THIS PROPERTY
        </span>
    </div>
    <div class="property-share__item">
        <i class="fa fa-file" aria-hidden="true"></i>
        <span class="property-share__text">
            PRINT DETAIL IN PDF
        </span>
    </div>
    <div class="property-share__item">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="property-share__text">
            EMAIL TO A FRIEND
        </span>
    </div>
    <div class="property-share__item">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <span class="property-share__text">
            SHARE ON FACEBOOK
        </span>
    </div>
</div>