<div class="property-slide">
    <div class="slider">
        <div class="slider-wrapper">
            <div class="slider-inner">
            </div>
            <div class="slider-navigation">
                <a class="slider-navigation__arrow" data-slide="left">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                </a>
                <a class="slider-navigation__arrow" data-slide="right">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="slider-thumbnail-wrapper">
            <div class="slider-thumbnail"></div>
        </div>
    </div>
</div>