<div class="property-market">
    <h5 class="property-market__heading">
        <i class="fa fa-signal" aria-hidden="true"></i>
        <span class="property-market__price">MARKET PRICE</span>
        <span class="property-market__live">LIVE</span>
    </h5>
    <div class="property-market__block">
        <div class="property-market__list">
            <div class="property-market__item">
                <p class="property-market__item-title">PRICE BASED ON</p>
                <h6 class="property-market__item-value">60 similar listings</h6>
            </div>
            <div class="property-market__item">
                <p class="property-market__item-title">AVERAGE PRICE</p>
                <h6 class="property-market__item-value">AED/Year 117,583</h6>
            </div>
            <div class="property-market__item">
                <p class="property-market__item-title">AVERAGE SQFT</p>
                <h6 class="property-market__item-value">1,933 SQFT</h6>
            </div>
            <div class="property-market__item">
                <p class="property-market__item-title">AVERAGE PRICE/SQFT</p>
                <h6 class="property-market__item-value">AED/Year 92 per sqft</h6>
            </div>
        </div>
        <div class="property-market__read-more">
            <button class="property-market__button" type="button">
                Read more
            </button>
        </div>
    </div>
</div>