<div class="property-contact">
    <div class="property-contact__item">
        <i class="fa fa-phone-square" aria-hidden="true"></i>
        <span class="property-contact__text">
            CONTACT BY PHONE
        </span>
    </div>
    <div class="property-contact__item">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <span class="property-contact__text">
            CONTACT BY EMAIL
        </span>
    </div>
    <div class="property-contact__item">
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
        <span class="property-contact__text">
            MAKE AN OFFER
        </span>
    </div>
</div>