<div class="property-agency">
    <div class="agency-avatar">
        <img class="agency-avatar__image" src="/assets/img/avatar.jpg" alt="avatar"/>
    </div>
    <div class="agency-details">
        <h6 class="agency-details__name">Jennnifer Doe</h6>
        <p class="agency-details__info">The Reserve Agency LLC</p>
        <p class="agency-details__info">Emaar Square</p>
        <p class="agency-details__info">Downtown, Dubai, UAE</p>
        <img class="agency-details__image" src="/assets/img/landsterling-logo.png" alt="logo"/>
    </div>
</div>