
/*---------------
_variables.scss
------------------*/
$font-stack: Palatino, sans-serif;
$primary-color: #ffffff;
$background: "http://tiny.cc/qcrn7x";
$primary-font: Merienda, sans-serif;
$secondary-font: "Kaushan Script", sans-serif;
$bg-color-home: #C0C0C0;
$background-color: #ffffff; //f4f7f9

/*---------------
_mixins.scss
------------------*/
@mixin flexbox() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin justifyContent($value){
    -webkit-box-pack: $value;
    -webkit-justify-content: $value;
    -ms-flex-pack: $value;
    justify-content: $value;
}

@mixin alignItem($value){
    -webkit-box-align: $value;
    -webkit-align-items: $value;
    -ms-flex-align: $value;
    align-items: $value;
}

@mixin flexWrap($value){
    -webkit-flex-wrap: $value;
    -ms-flex-wrap: $value;
    flex-wrap: $value;
}

@mixin alignSelf($value){
    -webkit-align-self: $value;
    -ms-flex-item-align: $value;
    align-self: $value;
}

@mixin flexDirectionColumn(){
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*---------------
_base.scss
------------------*/

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: $font-stack;
    font-size: 14px;
    line-height: 1.4;
    color: #333333;
    background-color: $background-color;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin: 0 0 10px;
}

a {
    text-decoration: none;
}

a:hover{
    color: #0077b5;
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    outline: none;
}

button:focus {
    outline: none;
}

.portfolio {
    width: 100vw;
    height: 100vh;
}

/*---------------
style for menu
_menu.scss
------------------*/
.menu {
    position:fixed;
    z-index: 1;
    right: 0;
    margin:20px;

    &-block {
        width: 100vw;
        height: 100vh;
        position: fixed;
        right: -100vh;
        z-index: 2;
        -webkit-transition: transform 300ms  cubic-bezier(0.86, 0, 0.07, 1);
        transition:         transform 300ms  cubic-bezier(0.86, 0, 0.07, 1);
    }

    &-left {
        width: 65%;
        height: 100%;
        display:inline-block;
        background-color: #000;
        opacity:0;
        transition:opacity 100ms ease-in-out;
        -webkit-transition: opacity 100ms ease-in-out;

        &--transform {
            opacity: 0.3;
        }
    }

    &__icon {
        color: #1B1B1B;
    }

    &--transform {
        -webkit-transform: translate(-100vh, 0);
        transform: translate(-100vh, 0);
    }
}



/*---------------
style for drawer
_drawer.scss
------------------*/

.drawer {
    @include flexbox();
    @include flexDirectionColumn();
    width: 35%;
    height: 100%;
    float:right;
    background-color: #fff;


    &--transform {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }

    &-info {
        @include flexbox();
        @include flexWrap(wrap);
        @include flexDirectionColumn();
        position:absolute;
        right: 0;
        margin: 20px;

        &__image{
            @include alignSelf(flex-end);
            width: 90px;
            height:90px;
            margin-top: 5px;
            border-radius: 50%;
        }

        &__name {
            color: $primary-color;
            margin-bottom: 0;
            margin-top: 20px;
            text-align: right;
            line-height: 3rem;
            font-size: 20px;
            font-family: $primary-font;
        }

        &__email {
            color: $primary-color;
            text-align: right;
            font-size: 14px;
            font-family: $primary-font;
        }
    }

    &-header {
        background: linear-gradient(to bottom left, #333333, #8D8D8D);
        height: 30%;
    }

    &-close {
        color: $primary-color;
        margin: 15px;
        position: absolute;
    }

    &-items{
        height: 60%;
        margin: 10px 10px 0;
    }

    &-item {
        width: 100%;
        font-size: 2rem;
        color: #333333;
        display: block;
        padding-bottom: 15px;
        margin-top: 15px;
        border-bottom: 1px solid;

        &__icon {
            margin-right: 30px;
        }
    }

    &-footer {
        height: 10%;
        background-color: #CCCCCC;
        padding: 10px 10px 5px;

        &__copyright {
            font-size: 1.4rem;
            text-align:center;
            margin: 0;
        }

        &__quote {
            font-size: 1.4rem;
            text-align:center;
            font-family: $primary-font;
        }
    }
}

/*---------------
style for page home
_home.scss
------------------*/

.home-page{
    @include flexbox();
    @include justifyContent(center);
    @include alignItem(center);
    @include flexWrap(wrap);
    width: 100vw;
    height: 100vh;

    &--bg{
        background: $bg-color-home url($background) round;
        background-size: cover;
    }
}

.social {
    @include flexbox();
    @include justifyContent(center);

    div{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.header {
    @include alignSelf(flex-end);

    &__title{
        font-family: $primary-font;
        font-size: 7rem;
        font-weight: bold;
        text-align: center;
        margin-top: -60px;
    }

    &__description {
        text-align: center;
        font-family: $secondary-font;
        font-size: 3rem;
        color: #333333;
    }

    &__title {
        color: $primary-color;
    }
}

.go-down{
    @include flexbox();
    @include justifyContent(center);
    @include alignSelf(flex-end);
    margin-bottom: 20px;
    width: 100%;

    &__icon{
        color: #ffffff;
    }
}

.email__logo {
    color: #dc4e41;
}
.linkedin__logo {
    color: #0077b5;
}

.twitter__logo {
    color: #55acee;
}

.github__logo {
    color: #333333;
}


/*---------------
style for page about
_about.scss
------------------*/

.about-page {
    @include flexbox();
    @include flexDirectionColumn();
    width: 70vw;
    height: 100vh;

    &--bg{
        margin: 0 auto;
        padding-top: 10%;
    }
}


.about-me {
    border-bottom: 2px dotted #dc4e41;
    margin: 10px;
    padding-bottom: 30px;

    &__title {
        font-size: 4rem;
        line-height: 1;
        font-weight: 400;
        padding-bottom: 20px;
    }

    &__description {
        font-size: 2rem;
        line-height:1.5;
    }
}


.about-heading {
    border-bottom: 2px dotted #dc4e41;

    &__label {
        font-size: 6rem;
        color: #dc4e41;
        font-family: $primary-font;
    }
}


/*---------------
style for page work
_work.scss
------------------*/
.work {

    &-page {
        width: 100vw;
        height: 100vh;
        padding: 1rem 1rem 2rem 3rem;

        &-wrapper {
            width: 100%;
        }

        &-title{
            width: 100%;

            &__label{
                text-align: center;
                font-family: $primary-font;
                font-size: 5rem;
                font-weight: bold;
                color: #dc4e41;
                padding-bottom: 3rem;
            }
        }

    }

    &-item {
        float:left;
        display:block;
        border: #fff 1rem solid;
        height: 28vw;
        width: 31%;

        &__1{
            background: url('http://tiny.cc/w1qr7x') round;
            background-size: cover;
        }

        &__2{
            background: url('http://tiny.cc/w2qr7x') round;
            background-size: cover;
        }

        &__3{
            background: url('http://tiny.cc/s3qr7x') round;
            background-size: cover;
        }

        &__4{
            background: url('http://tinyurl.com/hdks5d5') round;
            background-size: cover;
        }

        &-wrapper {
            width: 100%;
            height: 100%;
            z-index: 222;
            display: table;
            opacity: 0;
            background-color: rgba(0,0,0,1);
            transition:opacity 100ms ease-in-out;
            -webkit-transition: opacity 800ms ease-in-out;

            &:hover {
                opacity: 0.9;
            }

        }

        &-info {
            width:100%;
            height:100%;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: #C0C0C0;
            padding: 1rem;

            &__header {
                font-size: 3rem;
                font-weight: bold;

                a{
                    color: inherit;

                    &:hover{
                        color: inherit;
                    }
                }
            }

            &__description {
                font-size: 2rem;
            }
        }
    }

}

/*--------------------
Media Query small device
---------------------*/

@media (max-width: 600px) {

    html{
        font-size: 9px;
    }

    .about {

        &-heading__label {
            font-size: 4rem;
        }

        &-me__title {
            font-size: 3rem;
        }
    }


    .work {

        &-item {
            float:none;
            height: 50vh;
            width: 85%;
        }

        &-page {
            &-title {
                width: 85%;

                &__label{
                    font-size: 4rem;
                }
            }
        }
    }

    .menu-left{
        width: 20%;
    }

    .drawer{
        width: 80%;
    }

}

/*--------------------
Media Query tablet
---------------------*/

@media (min-width: 920px) and (max-width: 1200px) {

    .menu-left{
        width: 55%;
    }

    .drawer{
        width: 45%;
    }

    .work {

        &-item {
            height: 35vw;
            width: 50%;


            &-info {

                &__header {
                    font-size: 2.5rem;
                }

                &__description {
                    font-size: 2rem;
                }
            }
        }
    }

}

/*--------------------
Media Query desktop
---------------------*/

@media (min-width: 600px) and (max-width: 920px) {

    .menu-left{
        width: 35%;
    }

    .drawer{
        width: 65%;
    }

    .work {

        &-item {
            height: 35vw;
            width: 50%;


            &-info {

                &__header {
                    font-size: 2rem;
                }

                &__description {
                    font-size: 1.5rem;
                }
            }
        }
    }

}