.navigation {
    margin: 0 auto;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #3B4D6B;
    z-index: 999;
    color: #ffffff;

    &__wrapper {
        margin: 0 auto;
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    & a {
        text-decoration: none;
        display: block;
        padding: 8px;
        color: white;
    }

    & li:hover {
        background: #708E9C;
    }

    &__logo {
        align-self: center;
    }

    &__menu {
        display: flex;
        height: 100%;
        flex-direction: row;
    }

    &__item {
        height: 100%;
        align-items: center;
        display: flex;
        border-bottom: 5px solid gray;
        border-right: 1px solid gray;

        &:first-child {
            border-bottom-color: #C93C64;
        }

        &:nth-child(2) {
            border-bottom-color: darkviolet;
        }

        &:nth-child(3) {
            border-bottom-color: green;
        }

        &:last-child {
            border-right: none;
        }
    }
}

.active {
    background: #C93C64;
}

