.property-ad {
    margin-top: 1rem;

    &__heading {
        line-height: 2;
    }

    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.4);
        background: red;
        padding: 1rem;
        color: #fff;
        height: 250px;
        font-size: 3rem;
    }

}

@media only screen and (max-width: 992px) {
    .property-ad {
        display:none;
    }
}