.property-content {
    margin-top: 1.5rem;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__body {
        box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.4);
        background: #fff;
        margin-top: 0.5rem;
        padding: 1.5rem 1rem;
    }

    &__footer {
        margin-top: 1rem;

    }
}

.content-header__ref-no {
    color: red;
    font-weight: 500;
}

.content-description {
    &__title {
        line-height: 2;
    }

    &__details {
        text-align: justify;
        line-height: 1.5;
        margin-top: 1rem;
    }
}

.content-summary {
    margin-top: 1.5rem;

    &__heading {
        line-height: 2;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #DDDDDD;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__list-group {
        width: 50%;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__list-item {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}

.content-list-item {
    &__title {
        font-size: 12px;
    }

    &__value {
        font-size: 12px;
        font-weight: 900;
    }
}

@media only screen and (max-width: 768px) {
    .content-description {
        &__details {
            display: none;
            line-height: 1;
        }

        &__block :first-child {
                display: block;
        }

        &__title {
            line-height: 1.2;
            font-size: 18px;
            font-weight: 900;
        }

        &__name {
            font-size: 12px;
        }
    }

    .content-summary {
        margin-top: 1rem;

        &__list {
            flex-wrap: wrap;
        }
        &__list-group {
            width: 100%;
        }
    }
}