.property-contact {
    display: flex;
    box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.4);
    background: #C93C64;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    flex-direction: column;
    font-size: 1rem;
    color: #fff;

    &__item {
        border-bottom: 1px solid #ddd;
        line-height: 4;
        touch-action: manipulation;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:last-child {
            border-bottom: none;
        }

        i {
            padding-left: 10px;
            padding-right: 20px;
            font-size: 1.2rem;
        }
    }
}

@media only screen and (max-width: 992px) {
    .property-contact {
        flex-direction: row;
        justify-content: space-around;

        &__item {
            border-bottom: none;
            border-right: 1px solid #ddd;
            padding-right: 10px;

            &:last-child {
                border-right: none;
            }

            i {
                padding-left: 5px;
                padding-right: 5px;
                font-size: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .property-contact {
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 33.33%;
            padding-right: 0px;

            i {
                font-size: 4rem;
            }
        }

        &__text {
            display: none;
        }
    }
}