.property-contact {
    display: flex;
    box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.4);
    background: #c71f40;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    flex-direction: column;
    font-size: 1rem;
    color: #fff;

    &__item {
        border-bottom: 1px solid #ddd;
        touch-action: manipulation;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        display: flex;
        flex-direction: column;

        &:last-child {
            border-bottom: none;
        }

        i {
            padding-left: 10px;
            padding-right: 20px;
            font-size: 1.2rem;
        }
    }

}

.property-contact-item {

    &__header {
        line-height: 4;
    }

    &__block {
        display: none;
        flex-direction: column;
        background: #fff;
        box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.4);
        padding: 5px;
    }

    &--show {
        display: flex !important;
    }

    &__control {
        display: flex;
        flex-direction: column;
    }

    &__error {
        color: #bb2540;
        font-size: 12px;
        display: none;

        &--show {
            display: block !important;
        }

        &--form {
            padding-top: 10px;
        }
    }

    &__phone {
        line-height: 2;
        align-self: center;
        color: #cd1d1d;
    }

    &__input {
        outline: none;
        font-size: 12px;
        margin-bottom: 1rem;

        &--error {
            border-color: #bb2540;
        }
    }

    &__button {
        color: #fff;
        background-color: #4a4860;
        border-color: #4a4860;
        width: 65px;
    }

    &__offer {
        line-height: 2;
    }

    &__offer-heading {
        color: #a4a3ab;
        font-weight: 800;
        font-size: 14px;
    }

    &__offer-block {
        display: flex;

        input {
            width: 70%;
        }
    }

    &__label {
        font-size: 12px;
        background: #edecf1;
        width: 30%;
        margin-bottom: 1rem;
        text-align: center;
        border: #ddd solid 1px;
        padding-top: 3px;
        color: #9092a1;
    }
}

@media only screen and (max-width: 992px)  {
    .property-contact {
        flex-direction: column;

        &__item {
            border-right: none;
        }

        i {
            font-size: 1.2rem;
        }
    }

}