.slider-wrapper {
    position: relative;
    font-size: 4em;
}

.slider-inner {
    position: relative;
    width: 100%;
    height: 300px;
}

.slider-item {
    width: 100%;
    height: 100%;

    &__image {
        width: 100%;
        height: 100%;
    }
}

.slider-navigation {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 30;
    height: 100%;
    color: #e9e9e9;
    opacity: 0.7;
    padding: 0 5px;

    &__arrow {
        touch-action: manipulation;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.6);
    }
}

.slider-thumbnail-wrapper {
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.slider-thumbnail {
    overflow-x:auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
    padding-top: 5px;
    user-select: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.thumbnail-item {
    height: 100px;
    width: 100px;
    display: inline-block;
    padding-left: 3px;

    &:last-child {
        padding-right: 3px;
    }

    &__image {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .slider-inner {
        height: 200px;
    }

    .thumbnail-item {
        height: 75px;
        width: 75px;
    }

    .slider-thumbnail-wrapper {
        height: 75px;
    }
}